*{
    margin:  0;
    padding: 0;
  }

  h1{
    color: #3d3531;
  }
  a{
    margin: 1%;
    text-decoration: none;
    /*color: #3d372d;*/
    color: white;
    font-weight: bold;
  }
  a:hover{
    font-size: 150%;
    /*filter: drop-shadow(5px 5px 10px #504f4b);*/
    filter: drop-shadow(5px 5px 10px #f3c409);
  }
.layout{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    min-height: 800px;
    background-color: #9e928047;
  }
  .container{
    max-width: 1280px;
    min-height: 800px;
    width: 70%;
    min-width: 800px;
    background-color: rgba(131, 129, 125, 0.27);
    padding: 2%;
    

  }
  .header{
    width: 100%;
    min-height: 150px;
    background-image: url("/assets/header.png");
    background-size: 100%;
  }
  .line{
    width: 100%;
    min-height: 20px;
    background-image: url("/assets/line.png");
    background-size: 100%;
  }
  .center{
    text-align: center;
  }
  .height40{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navLine{
    background-color: black;
    width: 20%;
    height: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
  }