<!--<h1>{{title}}</h1>
<p>{{my}}</p>
<button (click)="myfunc()">Исправить</button>
<div class="container">
  <div class="box">
    <p *ngFor="let ell of myArr">{{ell}}</p>
  </div>
  <div class="box">
    <p *ngFor="let ell of myObj">{{ell.name}} - {{ell.sensorType}}</p>

  </div>
</div>
-->

  <div class="layout">
  <div class="line"></div>
  <div class="header"></div>
  <div class="line"></div>
  <div class="container"> 
    <div class="height40">
      <nav class="navLine">
        <a routerLink="/home">Графики</a>
        <a routerLink="/Information">Датчики</a>
      </nav>
    </div>
    <!--<h1-- class="center">Графики</!--<h1--> 
    <router-outlet></router-outlet>
    <!--<app-home></app-home>-->
  </div>
</div> 
<!--<app-ChartsConstructor></app-ChartsConstructor>-->


