*{
    margin:  0;
    padding: 0;
  }

  h1{
    color: #3d3531;
  }
.layout{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    min-height: 800px;
    background-color: #9e928047;
  }
  .container{
    max-width: 1280px;
    min-height: 800px;
    width: 70%;
    min-width: 800px;
    background-color: rgba(255, 193, 7, 0.27);
    padding: 2%;
    

  }
  .header{
    width: 100%;
    min-height: 150px;
    background-image: url("/assets/header.png");
    background-size: 100%;
  }
  .line{
    width: 100%;
    min-height: 20px;
    background-image: url("/assets/line.png");
    background-size: 100%;
  }
  .center{
    text-align: center;
  }