<div class="layout">
    <div class="line"></div>
    <div class="header"></div>
    <div class="line"></div>
    <div class="container">
        

        <app-home></app-home>

        <!--<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>-->


    </div>
</div>
