*{
    color: #352b1f;
}
.center{
    text-align: center;
}
.sensorBlock{
    width: 28%;
    border: solid 2px rgb(58, 54, 54);
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    background-color: #9ca0a3;
    box-shadow: 12px 12px 2px 1px rgba(74, 74, 80, 0.2);
    color: #352b1f;
}
.sensorsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;

}
.sensorBlock p{
    font-weight: bold;
}
.sensorBlock span{
    font-weight: normal;
}