
<h2>Сервис предоставляет возможность отслеживать большое количество показателей различных датчиков. </h2>
<h3>Наши датчики:</h3>
<div class="sensorsBox">
    <div *ngFor="let ell of AllSensors" class="sensorBlock">
        <h2>{{ell.name}}</h2>
        <p>Тип датчика: 
            <span *ngIf = "ell.sensorType === 0"> датчик температуры</span>
            <span *ngIf="ell.sensorType === 1"> датчик влажности</span>
            <span *ngIf="ell.sensorType === 2"> датчик света</span></p>
            
        <p>Широта: <span> {{ell.information.latitude}}</span></p>
        <p>Долгота: <span>{{ell.information.longitude}}</span></p>
        <p>Высота над уровнем моря: <span>{{ell.information.elevation}}</span></p>

    </div>
</div>
