<!--<div class="distance"></div>-->
<h1 class="center letterSpacing1">Показатели</h1>
<div class="DataBlock">
  <div class="inputBox">
    <mat-form-field color="primary">
      <mat-label>Выберите дату начала</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="defaulDateStart" (ngModelChange)="UpdateSensorsData()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <!--<span>Дата начала: </span>
    
    <input
      type="date"
      [(ngModel)]="defaulDateStart"
      (ngModelChange)="MakeChart(false)"
    /> -->
  </div>
  <div class="inputBox">
    <!--<span>Дата окончания: </span>
    <input
      type="date"
      [(ngModel)]="defaulDateEnd"
      (ngModelChange)="MakeChart(false)"
    />-->
    <mat-form-field color="primary">
      <mat-label>Выберите дату окончания</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="defaulDateEnd" (ngModelChange)="UpdateSensorsData()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="distance"></div>

<div>
  <fieldset>
    <legend>Датчики:</legend>
    <!--<p *ngFor = "let ell of SensorList">{{ell.name}}</!--<p>-->
    <!--<button (click)="check()">look</!--<button>-->
    <div class="sensorBox">
      
      <mat-checkbox *ngFor="let ell of AllSensors" id="sensor{{ ell.id - 1 }}" [(ngModel)]="curSensorCheckBox[ell.id - 1]" (change)="MakeChart(false)" checked = "true" >{{ ell.name }}</mat-checkbox>
      <!--<label *ngFor="let ell of AllSensors" (change)="MakeChart(false)"
        ><input
          type="checkbox"
          (change)="MakeChart(false)"
          id="sensor{{ ell.id - 1 }}"
          checked
        />{{ ell.name }}</label
      > -->
    </div>
  </fieldset>
</div>

<div id="chartsBlock">
  <div
    *ngFor="let item of AllSensorTypes"
    class="marginTop1"
    id="chartBlock{{ item }}"
  >
    <div id="optionTo_{{ item }}" class="">

      <mat-form-field >
        <mat-label>Выберите тип графика</mat-label>
        <mat-select  id="selectTo_{{ item }}" [(ngModel)]="curType[item]" (ngModelChange)="MakeChart(false)"  panelClass="example-panel-red" >
          <mat-option *ngFor="let op of listChartTypes" [value] = "op"  class="calendar">
            {{op}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--<span>Выберите тип графика: </span>
      <select
        id="selectTo_{{ item }}"
        [(ngModel)]="curType[item]"
        (ngModelChange)="MakeChart(false)"
        required
      >
        <option *ngFor="let op of listChartTypes" [value]="op"
          >{{ op }}
        </option>
      </select> -->
    </div>

    
    <div id="chart{{ item }}" class="marginTop1"></div>
  </div>

  <div id="chartBlockUnion" class="marginTop1">

    <div id="optionTo_Union" >
      <mat-form-field>
        <mat-label>Выберите тип графика</mat-label>
        <mat-select id="selectTo_Union" [(ngModel)]="curTypeUnion" (ngModelChange)="MakeChart(false)"
          panelClass="example-panel-red">
          <mat-option *ngFor="let op of listChartTypes" [value]="op" class="calendar">
            {{op}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<span>Выберите тип графика: </span>
      <select id="selectTo_Union" [(ngModel)]="curTypeUnion" (ngModelChange)="MakeChart(false)" required>
        <option *ngFor="let op of listChartTypes" [value]="op">{{ op }}
        </option>
      </select>-->
    </div>

    <div id="union"></div>
  </div>
</div>
