* {
  color: #352b1f;
}

.sensorBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 100px;
}
label {
  margin: 0 0.5% 0.5% 0.5%;
}
span {
  margin-right: 1%;
  white-space: nowrap;
}
fieldset {
  border-color: rgb(212, 207, 207);
}
.inputBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.DataBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 43%;
}
.distance {
  height: 20px;
}
.chartsBlock {
  height: 400px;
}
#chartsBlock {
  width: 100%;
  margin-top: 2%;
  /*display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;*/
}
.marginTop1 {
  margin-top: 1%;
}
#temperatureChart,
#humidityChart,
#lightChart,
#union {
  width: 100%;
  margin-top: 2%;
}
.center {
  text-align: center;
}
/*.cdk-overlay-container .cdk-overlay-pane .testClass {
  background: rgba(255, 0, 0, 0.5);
}
.example-panel-red .mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}*/
.mat-select-panel {
  background: #747171;
  color: black;
}
/*mat-option {
  background-color: rgb(241, 237, 236);
}*/
.mat-select-value {
  color: black;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(67, 59, 59, 0.7);
}
.mat-select-arrow {
  color: rgba(26, 24, 24, 0.7);
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #424242;
  color: white;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fc9610;
}
.mat-option-text {
  color: white;
}
.mat-form-field-infix {
  font-size: large;
}
.mat-typography h1{
    letter-spacing: 0.8em;
    font-weight: bold;
    margin: 2%;
}
